<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <security>
      <authorization>
        <clear />
        <add accessType="Allow" roles="DOMAIN\EXAMPLE_USER_GROUP" />
      </authorization>
    </security>

    <rewrite>
      <rules>

        <rule name="GSTWebRTC Video Signaling 8189" stopProcessing="true">
          <match url="^GstSignal/video/?$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" pattern="^GET$" />
            <add input="{HTTP_UPGRADE}" pattern="^websocket$" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:8189" appendQueryString="true" logRewrittenUrl="true" />
        </rule>

        <rule name="GSTWebRTC Audio Signaling 8190" stopProcessing="true">
          <match url="^GstSignal/audio/?$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_METHOD}" pattern="^GET$" />
            <add input="{HTTP_UPGRADE}" pattern="^websocket$" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:8190" appendQueryString="true" logRewrittenUrl="true" />
        </rule>

        <rule name="Reject Non-WebSocket Signaling Requests" stopProcessing="true">
          <match url="^GstSignal(?:/|$)" />
          <action type="CustomResponse"
                  statusCode="404"
                  statusReason="Not Found"
                  statusDescription="WebSocket signaling only." />
        </rule>

        <rule name="Stream Proxy" stopProcessing="true">
          <match url="^(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:8889/live/{R:1}" />
        </rule>

      </rules>

      <outboundRules>
        <rule name="live Fix Absolute Fetch Paths" preCondition="IsHtml">
          <match pattern="fetch\(&quot;/" />
          <action type="Rewrite" value="fetch(&quot;/live/" />
        </rule>

        <preConditions>
          <preCondition name="IsHtml">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>

    <urlCompression doStaticCompression="true" doDynamicCompression="false" />

  </system.webServer>
</configuration>
